<div class="row">

  <div class="col-sm-4 text-center">

    <%= render @user %>

  </div>

  <div class="col-sm-8">

    <div id="posts">
      <%= render @posts %>
    </div>

    <div id="carregar-mais" class="my-4 text-center">
      <%= link_to_next_page @posts, 'Carregar mais posts', :remote => true, :id=>"load_more_link" %>
    </div>

  </div>

</div>
