var post_length = $("#post_content").val().length;

if (post_length < 1) {
  $("#alert-box").html('<p class="alert alert-danger">Seu post nao pode ser vazio</p>');
} else if (post_length > 240){
  $("#alert-box").html('<p class="alert alert-danger">Seu post nao pode exceder 240 caracteres</p>');
} else {
  $("#alert-box").html('<p class="alert alert-success">Postado com sucesso!</p>');
  $("<%= escape_javascript(render @post) %>").prependTo("#posts");
  $("#post_content").val('');
}
