<div class="card my-1">
  <div class="card-body">
    <a href="#" class="float-right btn btn-sm btn-primary">Follow</a>
    <p>
      <strong><%= post.user.name %></strong>
      <span class="badge badge-secondary"><%= post.user.elo %></span> -
      <span class="text-muted">2 hours ago</span>
    </p>
    <p class="card-text"><%= post.content %></p>
  </div>
</div>
