<div class="row">

  <div class="col-sm-4 text-center">

    <%= render "users/current_user"  %>

  </div>

  <div class="col-sm-8">

    <div id="posts">
      <%= render @post %>
    </div>

  </div>

</div>
