@import "bootstrap";
body {
}

.post-body {
  word-wrap:break-word;
}

#post_content {
  border-radius: 0;
}

#post-button {
  border-radius: 0 0 5px 5px;
}

#post-photo {
  max-width: 75px;
}

#toggle-post {
  line-height: 15px;
  background-color: #eee;
  border-radius: 5px 5px 0 0;
}

#toggle-post:hover {
  background-color: #ccc;
}

#login-box {
  padding: 2%;
}

#ad-side {
  background-color: #333;
  min-height: 100vh;
  color: #fff;
  padding: 10% 0;
}

@media only screen and (max-width: 575px) {
  #ad-side {
    min-height: 0;
    padding-bottom: 4%;
  }
}
#ad-side ul {
  list-style-type: none;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 2em;
}
