<p>Olá <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos te contatando para te notificar de que seu email está sendo alterado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos te contatando para te notificar de que seu email foi alterado para <%= @resource.email %>.</p>
<% end %>
